<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Wendell"/>
    <meta name="description" content="Um blog simples feito com Django"/>
    <title>PyBlog</title>
</head>
<body>

<div>
    <h1><a href="#">PyBlog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>publicado: {{ post.data_publicacao }}</p>
        <h1><a href="#">{{ post.titulo }}</a></h1>
        <p>{{ post.texto|linebreaksbr }}</p>
    </div>
{% endfor %}

</body>
</html>