<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Wendell"/>
    <meta name="description" content="Um blog simples feito com Django"/>
    <title>PyBlog</title>
</head>
<body>

<div>
    <h1><a href="#">PyBlog</a></h1>
</div>

<div>
    <p>Publicado: 09/02/2017, 22:27</p>
    <h2><a href="#">Meu primeiro post</a></h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
        at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
        sit amet risus.</p>
</div>

<div>
    <p>Publicado: 09/02/2017, 22:27</p>
    <h2><a href="#">Meu segundo post</a></h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
        at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
        sit amet risus.</p>
</div>

</body>
</html>